body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: rgb(65, 57, 57);
}

img {
    max-width: 100%;
}

video {
    max-width: 100%;
    width: 60%;
}

.mobile {
    display: none;
}
@media only screen and (max-width: 760px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

a {
    text-decoration: none;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3,
h2 {
    margin: auto 0;
}

/*Header*/

header h3 {
    margin: auto;
}

header .desktop {
    display: flex;
    height: 64px;
    padding: 0 24px;
    align-items: center;
}

header .logo {
    display: inline-flex;
    height: 32px;
}

header .buttons {
    width: 90%;
    justify-content: flex-end;
    display: flex;
    height: auto;
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
}

 .space {
    width: 16px;
    background-color: lightgrey;
    height: 64px;
}

header a {
    color: black;
}

header span {
    color: lightgrey;
    font-weight: normal;
}

/*StartPage*/

h1 {
    margin: auto 0;
}

.st {
    background-color: lightgrey;
    font-weight: normal;
    display: flex;
    padding: 32px 24px;
    align-items: center;
    height: 40%
}

.st .img {
    width: 60%;
}

.st .text {
    padding-left: 24px;
}

.st .text p {
    font-size: 20px;
}


.st a {
    padding: 8px 30%;
    background-color: rgb(65, 57, 57);
    color: white;
}

.grey {
    background-color: lightgrey;
}

/*Info*/

.inf {
    display: flex;
}

.info {
    width: 60%;
    padding: 32px 24px;
    border-right: 1px solid lightgray;
}

.info h1 {
    margin: 0;
    margin-top: 32px;
    font-size: 40px;
}

.info p {
    margin: 24px 0;
}

.info .author {
    font-size: 12px;
}

.box {
    width: 40%;
}

.infobox {
    display: flex;
    align-items: center;
    margin: 1px 0;
    border: 1px solid lightgrey;
}

.infobox img {
    height: auto;
    width: 35%;
    padding: 16px;
}

/*Learning*/

/*Thesis*/

/*footer*/