body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
    overflow: ;
}

video {
    max-width: 100%;
}

.mobile {
    display: none;
}
@media only screen and (max-width: 760px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

a {
    text-decoration: none;
}

h3,
h2 {
    margin: auto 0;
}

.ptext p {
    margin: 8px 0;
}

.box {
    width: 40%;
}

.infobox {
    display: flex;
    align-items: center;
}

.infobox img {
    height: auto;
    width: 35%;
    padding: 16px;
}

/*Header*/

header h3 {
    margin: auto;
}

header .desktop {
    display: flex;
    height: 64px;
    padding: 0 24px;
    align-items: center;
}

header .logo {
    display: inline-flex;
    height: 32px;
}

header .buttons {
    width: 90%;
    justify-content: flex-end;
    display: flex;
    height: auto;
}

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
}

 .space {
    width: 16px;
    background-color: rgb(235, 217, 217);
    height: 64px;
}

header a {
    color: black;
}

header span {
    color: rgb(235, 217, 217);
    font-weight: normal;
}

/*StartPage*/

.sttext h1 {
    margin: auto 0;
}

.st {
    background-color: rgb(235, 217, 217);
    font-weight: normal;
    display: flex;
    padding: 32px 24px;
    align-items: center;
    height: 40%
}

.st .img {
    width: 60%;
}

.st .sttext {
    padding-left: 24px;
}

.sttext {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.st .text p {
    font-size: 20px;
}


.st a {
    padding: 8px 40%;
    background-color: rgb(65, 57, 57);
    color: white;
}

.grey {
    background-color: rgb(235, 217, 217);
}

/*Info*/

.inf {
    display: flex;
}

.info {
    width: 60%;
    padding: 32px 24px;
    border-right: 1px solid rgb(235, 217, 217);
}

.info h1 {
    margin: 0;
    margin-top: 32px;
    font-size: 40px;
}

.info p {
    margin: 24px 0;
}

.info .author {
    font-size: 12px;
    margin: 0;
}

#bordert {
    margin: 1px 0;
    border-top: 1px solid rgb(235, 217, 217);
}

#borderb {
    margin: 1px 0;
    border-bottom: 1px solid rgb(235, 217, 217);
}
/*Learning*/
 
.lern {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 16px 56px;
    background-color: rgba(235, 217, 217, 0.397);
}

.lern h2 {
    text-align: center;
    margin: 16px auto;
}


.lernbox {
    display: inline-flex;
}

.lerninfo {
    width: 33%;
    background-color: white;
    margin: 16px;
}

.lerninfo h3 {
    margin-top: 16px;
}
.lerninfo .ptext {
    background-color: white;
    padding: 24px 16px;
    padding-top: 0;
}

.Lerninfo img {
    height: auto;
    overflow: hidden;
}

/*Thesis*/

.thesis {
    padding: 32px 0;
}

.thesis h2 {
    text-align: center;
    margin-bottom: 32px;
}

.thesisbox {
    display: flex;
}

.thesis .video {
    width: 60%;
    padding: 0 24px;
}

.thesis .video h3 {
    margin-top: 24px;
}

.thesis .video p {
    margin: 0;
    margin-top: 8px;
}

/*footer*/

footer {
    display: flex;
    align-content: flex-start;
    height: 32px;
    padding: 0 14px;
    padding-top: 16px;
    border-top: 1px solid rgb(235, 217, 217);
}

footer .copy {
    width: 90%;
}

footer p {
    font-size: 12px;
    padding: 0 10px;
    margin: 0;
}